div.table {
    display: table;
    width: 100%;
    border-collapse:collapse;
}

div.table .header {
    display: table-header-group;
    font-weight: bold;
}

div.table .body {
    display: table-row-group;
}

div.table .row {
    display: table-row;
}

div.table .cell {
    display: table-cell;
    padding: 10px 15px;
    border: solid 1px #999;
}